body {
    background-color: #F72585;
}

.container {
    margin: auto;
    margin-top: 50px;
    background-color: #F72585;
}

.navbar {
    height: 6rem;
    font-size: larger;
    color: black;
    font-weight: 600;
    background-color: #4361EE;
}

span {
    content: "\2103";
}

.info {
    font-size: large;
    font-weight: 600;
}